<!DOCTYPE html>
<html ng-app= "myApp">
<head>
  <meta charset="UTF-8">
  <base href="/">

  <!-- roboto font, google fonts -->
    <!-- <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto'> -->
    <!-- animate.css -->
    <link rel="stylesheet" href="styles/animate.min.css">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- jQuery. jQuery w/ Angular docs https://docs.angularjs.org/api/ng/function/angular.element -->
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <!-- ngRoute -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <!-- ngResource -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <!-- custom script (angular app) -->
    <script type="text/javascript" src="scripts/app.js"></script>

  <title>Index</title>
</head>
<body>
  <div ng-view></div>

</body>
</html>