<section class="section addStoryPage">
  <div class="container">
    <div class="heading is-centered">
      <h1 class="title">Post a Script</h1>
      <h2 class="subtitle">Add a script to be flipped.</h2>
    </div>
  </div>
</section>
<div class="container is-fluid">
  <!-- <div class="columns">
    <div class="column">
      <h3 class="title is-3">Post a Script</h3>
      <h3 class="subtitle is-5">Add a script to be flipped.</h3>
    </div>
  </div> -->
  <div class="columns">
    <div class="column is-half">
      <form ng-submit="createStory()">
        <div class="bulma formatting divs/containers">
          <p class="control">
            <input class="input" type="text" ng-model="story.title" id="story_title" placeholder="Text input">
          </p>
          <p class="control">
            <textarea class="textarea" ng-model="story.words" placeholder="Textarea"></textarea>
          </p>
          <p class="control">
            <input type="submit" value="Submit Story" class="button is-primary">
          </p>
        </div>
      </form>
    </div>
    <div class="column is-half">
      <h3 ng-bind="story.title"></h3>
      <h3 ng-bind="story.words"></h3>
    </div>
  </div>
</div>    
