<!-- <header>
  <h1 class= "siteTitle"><i>Script Flip</i></h1>
  <h3><a ng-href="/about">About</a></h3>
  <hr>
</header> -->
<!-- <nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-item">
      <h1 class= "title is-1"><i>Script Flip</i></h1>
    </div>
    <div class="navbar-item">
      <h3><a ng-href="/about">About</a></h3>
    </div>
  </div>
</nav> -->

<!-- <header class="header">
  <div class="container">
    <div class="header-left">
      <div class="header-item">
        <h1 class= "title is-1"><i>Script Flip</i></h1>
      </div>
      <div clas="header-item">
        <a ng-href="/about">About</a>
      </div>
    </div>
  </div>
</header> -->

<section class="hero is-info is-left">
  <!-- <nav class="navbar">
    <div class="navbar-left">
      <div class="navbar-item">
        <h1 class= "title is-1"><i>Script Flip</i></h1>
      </div>
      <div class="navbar-item">
        <h3><a id="aboutLink" ng-href="/about">About</a></h3>
      </div>
    </div>
  </nav> -->
  <div class="hero-content">
    <div class=" container">
      <h1 class="title"> Script Flip</h1>
      <h2 class="subtitle"><a class="aboutLink" ng-href="/about">About</a></h2>
    </div>
  </div>
</section>

<div>
  <ul>
    <li ng-repeat="v in stories" class="homeTitles" ng-mouseover="myClass='titleOver'" ng-mouseout="myClass=''">
      <a class="titleBase" ng-href="/story/{{v._id}}" ng-class="myClass">{{ v.title }}</a>
    </li>
  </ul>
</div>
