<header class="header">
  <div class="container">
    <!-- Left side -->
    <div class="header-left">
      <p class="header-item">
        <i class="title">Flip Script</i>
      </p>
      <p> 
        <a class="header-tab" ng-href="/about"> About</a>
      </p> 
    </div>
  </div>
</header>

<div>
  <ul class="homeList">
    <li ng-repeat="v in stories" class="homeTitles" ng-mouseover="myClass='titleOver'" ng-mouseout="myClass=''">
      <a class="titleBase" ng-href="/story/{{v._id}}" ng-class="myClass">{{ v.title }}</a>
    </li>
  </ul>
</div>
