<div class="columns">
  <div class="column is-10">
    <div class="content"> 
      <br>
      <h3 id='storyTitle'><i>{{ story.title }}</i></h3>
      
      <span class="icon">
        <i class="fa fa-quote-left"></i>
      </span>
      <story-word ng-repeat='word in story.words track by $index' content="word" index="$index">
      </story-word>
      <div class='storyButtons'>
        <br>
        <a ng-href="/">Back Home</a> ||
        <a ng-href="/about">About</a>
      </div>
    </div>
  </div>  
</div>     