 /*
Sepia: #704214;
Sepia b/g: #FFF6E5;
 */
 html {
  background-color: #FFF6E5;
 } 
 
 /*Homepage Styles */

.aboutLink {
  color: white;
 }
.homeTitles {
  color: #704214;
  font-family: 'Merriweather', serif;
  font-size: 3.0em;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  list-style-type: none;
  letter-spacing: .03em;
  padding: .35em 0;
  text-align: center;
}
a {
  color: rgb(0, 0, 0);
}
li a {
  color: #704214;
  text-decoration: none;
}
.titleBase {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.titleBase.titleOver {
  color: #704214;
  font-size: 1.2em;
}

/* Story page*/
#storyTitle {
  color: #704214;
  font-size: 2.7em;
/*  font-weight: 500;*/
  text-align: center;
}
/*#story {
  background-color: #FFF6E5;
  
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  font-weight: 200;*
  text-indent: 3em;
  text-align: left;
  letter-spacing: .03em;
  line-height: 1.5;
  margin: 10px 80px 10px;
  padding: 20px 45px 75px;
}*/
#storyPage {
  background-color: #FFF6E5;
  color: #704214;
} 
.storyText {
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-size: 1.75em;
  letter-spacing: .03em;
}
.storySpan {
  vertical-align: top;
}
.hidden {
  display: none;
  visibility: hidden;
}
/*Underline Styling*/
.underline {
  color: black;
  cursor: pointer;
  text-decoration: underline;
  /*transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/
}
.wordOver {
  font-size: 3em;
  color: red;
} 
/*Bottom of story page links. */
.storyButtons {
  text-align: center;
}
.storyButtons a {
  color: rgba(0, 0, 0, .6);
  font-weight: 200;
}
.jsWords {
  opacity: 1;
  padding-right: .10em;
  padding-left: .10em;
}
.engWords {
  opacity: 1;
  padding-right: .4em;
  padding-left: .4em;
}
/*
Animate
*/
.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  /*transition: all linear 0.5s;*/
  transition: 1s linear all;
}
.ng-hide-remove-active {
  /* the transition is defined in the active class */
   /*transition: all linear 0.5s;*/
   transition: 1s linear all;
}
.ng-hide {
  line-height: 0;
  opacity: 0;
}

/* Add Story Page */
.addStoryPage {
  background-color: #FFF6E5;
}


/*About Page */
#aboutTitle {
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-weight: 200;
  /*padding: .75em;*/
  text-align: center;
}
#aboutBody {
  color: #704214;
  font-family: 'Merriweather', serif;
  color: rgb(0, 0, 0);
  font-size: 1.7em;
  font-weight: 200;
  text-align: center;
  letter-spacing: .03em;
  line-height: 1.5;
  margin: 10px 80px 10px;
  padding: 20px 45px 75px;
  word-spacing: .25em;
}
